@keyframes backgroundAnimation {
    0% {
        background-image: url('/111.jpg');
    }

    25% {
        background-image: url('/g2.jpg');
    }

    50% {
        background-image: url('/nnn.jpg');
    }

    75% {
        background-image: url('/333.jpg');

    }

    100% {
        background-image: url('/111.jpg');

    }
}

.background-slide {
    transform: translateY(0%);
    animation: backgroundAnimation 12s infinite;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.background-slide ::before {
    transform: translateY(0%);
    animation: backgroundAnimation 12s infinite;
    background-size: cover;
    background-position: center;
    will-change: transform;
    filter: brightness(.75);
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoom-in 0.5s ease-out;
    animation-delay: 1s;
}

.element {
    transition: all ease-in-out 0.3s;
    transform: translateY(100%);
    opacity: 0;
}

.element.active {
    transform: translateY(0);
    opacity: 1;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 300px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
}