/* .background-blur-container {
    position: relative;
    overflow: hidden;
}

.background-blur-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
} */

@keyframes backgroundAnimation {
    0% {
        background-image: url('/111.jpg');
    }

    33% {
        background-image: url('/222.jpg');
    }

    66% {
        background-image: url('/333.jpg');
    }

    100% {
        background-image: url('/111.jpg');
    }
}

.background-slide {
    transform: translateY(0%);
    animation: backgroundAnimation 12s infinite;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.background-slide ::before {
    transform: translateY(0%);
    animation: backgroundAnimation 12s infinite;
    background-size: cover;
    background-position: center;
    will-change: transform;
    filter: brightness(.5);
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}



/* @keyframes changeBackground {
    0% {
        background-image: url('/111.jpg');
    }

    33% {
        background-image: url('/222.jpg');
    }

    66% {
        background-image: url('/333.jpg');
    }

    100% {
        background-image: url('/111.jpg');
    }
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    animation: changeBackground 12s infinite;
} */